@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,700&display=swap');

body {
    background-color: #898989;
    margin: 0;
    font-family: 'Jost';
}

/* For phone screen size */
@media (min-width:0px) {
    li {
        color: #051d1e;
        background-color: #7c7c7c;
        list-style-type: none;
        text-align: center;
        text-transform: uppercase;
        font-size: .75em;
        margin-left: 5em + 100px;
        margin-right: 5em;
        border-radius: 1em;
        padding: 0%;
        margin-bottom: 8%;
    }

    .text {
        font-size: 0.5em;
        padding: 2em;
        padding-top: 0.1em;
    }


    .days {
        transform: translate(-30%, 0);
        display: inline-block;
        font-size: 1.8em;
        padding-bottom: 1em;
    }

    .hours {
        transform: translate(0%, 0);
        display: inline-block;
        font-size: 1.8em;
    }

    .mins {
        transform: translate(10%, 0);
        display: inline-block;
        font-size: 1.8em;
    }

    .secs {
        transform: translate(30%, 0);
        display: inline-block;
        font-size: 1.8em;
    }
}

/* Intermediate range */

@media (min-width:780px) {
    li {
        color: #051d1e;
        background-color: #7c7c7c;
        list-style-type: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.25em;
        margin-left: 150px;
        margin-right: 150px;
        border-radius: 0.5em;
        padding: 0%;
    }

    .text {
        font-size: 0.3em;
        padding: 2em;
        padding-top: 0.1em;
    }


    .days {
        transform: translate(-30%, 0);
        display: inline-block;
        font-size: 1.8em;
    }

    .hours {
        transform: translate(0%, 0);
        display: inline-block;
        font-size: 1.8em;
    }

    .mins {
        transform: translate(10%, 0);
        display: inline-block;
        font-size: 1.8em;
    }

    .secs {
        transform: translate(30%, 0);
        display: inline-block;
        font-size: 1.8em;
    }
}

/* pc size */

@media (min-width:1330px) {
    li {
        color: #051d1e;
        background-color: #7C7C7C;
        list-style-type: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        margin-left: 300px;
        margin-right: 300px;
        border-radius: 0.5em;
        padding: 0%;
    }

    .text {
        font-size: 0.3em;
        padding: 2em;
        padding-top: 0.1em;
    }


    .days {
        transform: translate(-30%, 0);
        display: inline-block;
        font-size: 1.8em;
    }

    .hours {
        transform: translate(0%, 0);
        display: inline-block;
        font-size: 1.8em;
    }

    .mins {
        transform: translate(10%, 0);
        display: inline-block;
        font-size: 1.8em;
    }

    .secs {
        transform: translate(30%, 0);
        display: inline-block;
        font-size: 1.8em;
    }
}